/* Imagen redondeada sin estilos extra de Bootstrap */
.producto-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

/* Toggle descuento más pequeño */
.custom-toggle-sm {
  width: 36px;
  height: 18px;
}
.custom-toggle-sm::before {
  width: 14px;
  height: 14px;
}

.cantidad-carrito {
    width: 50px;       /* ancho más pequeño */
    height: 28px;      /* altura más compacta */
    text-align: center; /* centrar número */
}

.producto-nombre {
  font-size: 1.1rem;       /* más grande que fs-6, pero menos que fs-5 */
}

.btn-vender {
  position: relative;
  z-index: 1000;
}

.imagen-boton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.imagen-boton:focus {
  outline: none;
}